.container{
    text-align: center;
}

.botoes{
    background-color:  rgba(213, 232, 12, 0.531);
    border-radius: rgba(199, 10, 10, 0.914);
    color: black;
    font-weight: rgb(25, 237, 230);
    border-color: rgb(192, 13, 216);
}